body {
    font-family: 'Outfit', sans-serif; /* Utilizza il font importato */
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Contenitore del grafico */
#graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Titolo del grafico 
.chart-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
    text-align: center; /* Centra il titolo 
}*/

/* Canvas per il grafico */
canvas {
    border: 1px solid #ddd; /* Aggiunge un bordo al grafico */
    border-radius: 8px; /* Angoli arrotondati */
    background-color: #fff; /* Sfondo bianco per il canvas */
}

/* Stile dei messaggi di risultato *
.results-message {
    font-size: 18px;
    margin-top: 20px;
    color: #555;
    text-align: center;  Centra il messaggio 
}*/