:root {
  --text-color: #4a4a4a; /* Grigio scuro per il testo */
  --evidence0-color: #f39c12; /* Giallo dorato per il testo evidenziato */
  --evidence1-color: #d35400; /* Arancione scuro per i titoli */
  --evidence2-color: #e74c3c; /* Rosso per il grafico */
  --evidence3-color: #2ecc71; /* Verde per il grafico */
}

body {
  background-image: url(/assets/img/bgCucina.jpg);
}

th {
  font-weight: 900;
}

button#trasparent {
  background-color: var(--evidence1-color);
  color: var(--text-color);
}

#logoImg {
  background-color: black;
  padding: 10px;
}

img#themeIcon {
  position: absolute;
  width: 30px;
  transform: translate(-50%, +100%) rotate(25deg);
}

#container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
}

#themeIcon {
  width: 50px;
}
