h1 {
  font-size: 3em;
  font-weight: bold;
}

#content {
  margin: 0;
  height: 18em;
}

header {
  height: 10em;
}

#content p {
  font-size: 1.55em;
  text-align: center;
  padding: 0;
}

#title {
  height: 4.5em;
}

.fas {
  padding: 0;
  color: #000000b0;
}

#star {
  text-align: center;
  font-size: 3em;
  margin-top: 0.5em;
}

label {
  margin: 3em 0 1.5em;
  display: block;
  text-align: center;
  font-size: 1.55em;
}

form {
  border-bottom: 3px solid var(--evidence1-color);
  padding-bottom: 5px;
}

input {
  width: 100%;
  padding: 0.5em 1.5em;
  background: transparent;
  border: none;
  color: var(--text-color);
  outline: none;
}

#nextQuestionButton{
  height: 4rem;
  color: black;
}

#s1 {
  padding: 0;
}
#s2 {
  padding: 0;
}
#s3 {
  padding-right: 0.05em;
}
#s4 {
  padding: 0;
}
#s5 {
  padding: 0;
}
#s6 {
  padding: 0;
}
#s7 {
  padding: 0;
}
#s8 {
  padding: 0;
}
#s9 {
  padding: 0;
}
#s10 {
  padding: 0;
  margin: 0;
}

#nextQuestionButton{
  height: 4rem;
}

/* modifiche js */

.colorStar {
  color: var(--evidence2-color);
}

.unselectColour {
  color: transparent;
}
