#title {
    font-family: 'Outfit';
}

#title > h1 {
  font-size: 5em;
}

#title > p {
  font-size: 2em;
}

#content {
  display: inline-block;
}

#correctAnswers {
  text-align: left;
}

#graphic {
  text-align: center;
}

#wrongAnswers {
  text-align: right;
}

#trasparent {
}
