header {
  height: 150px;
}

#title > h1 {
  font-size: 5em;
}

#title > p {
  font-size: 2em;
}

#content {
  text-align: center;
}

#correctAnswers {
  text-align: left;
}

#wrongAnswers {
  text-align: right;
}

#correctAnswers,
#wrongAnswers {
  font-size: 3rem;
  display: inline-block;
  line-height: 3rem;
}

#graphic {
  text-align: center;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border: 1px solid var(--evidence0-color);
}

#correctAnswers,
#wrongAnswers {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border: 1px solid var(--evidence0-color);
}

#correctAnswers p:first-child,
#wrongAnswers p:first-child {
  margin-top: 4rem;
}

#graphic > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  font-size: 1rem;
  line-height: 1.2em;
}

#graphic > div > p:first-child {
  font-size: 1.5rem;
  line-height: 2rem;
}

#graphic > div > p:nth-of-type(2) {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

#correctPercentage,
#wrongPercentage {
  font-size: 3rem;
  font-weight: bold;
}

#wrongNumber,
#correctNumber {
  font-size: 1rem;
  font-weight: lighter;
}

#trasparent {
  background: transparent;
  box-shadow: none;
  border: 1px solid var(--evidence0-color);
  color: var(--evidence0-color);
  font-weight: 500;
  text-align: center;
}

table {
  border: 1px solid var(--evidence0-color);
  margin: 0 auto 3rem auto;
}
td {
  padding: 10px;
  border: 1px solid var(--evidence0-color);
}

th {
  padding: 10px;
  border: 1px solid var(--evidence0-color);
  background-color: var(--text-color);
  color: black;
}

.trIsCorrect {
  background-color: var(--evidence2-color);
  color: black;
}

.trIsIncorrect {
  background-color: var(--evidence1-color);
}
