:root {
  --text-color: #e7e7eb;
  --evidence0-color: white;
  --evidence1-color: #d20094;
  --evidence2-color: #00ffff;
}

body {
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-position: top;
  font-family: 'outfit', sans-serif;
  background-attachment: fixed;
  color: var(--text-color);
  box-sizing: content-box;
  font-size: 1rem;
  line-height: 1.2rem;
}

header {
  white-space: nowrap; /* Evita che i div vadano a capo */
  position: relative;
}

section {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
  line-height: 1; /* Imposta l'altezza della linea pari a quella del testo */
}

p {
  line-height: 1.3;
}

input[type='radio'],
input[type='checkbox'] {
  accent-color: var(--evidence1-color);
  /* Cambia il colore degli input selezionati */
  width: 20px;
  height: 20px;
}

button {
  display: block;
  margin: 3rem auto;
  height: 3rem;
  width: 13rem;
  background-color: var(--evidence2-color);
  font-family: 'outfit', sans-serif;
  font-weight: 800;
  font-size: 20px;
  border: none;
  text-transform: uppercase;
}

.activatedButton {
  box-shadow: 0 0 3px var(--evidence2-color), 0 0 20px var(--evidence2-color),
    0 0 45px var(--evidence2-color), 0 0 180px var(--evidence2-color);
  cursor: pointer;
}

.fucsiaColor {
  color: var(--evidence1-color);
}

.cyanColor {
  color: var(--evidence2-color);
}

.whiteColor {
  color: var(--evidence0-color);
}

#divLogo,
#divTimer {
  height: 200px;
  display: inline-block; /* Rende i div inline-block per posizionarli fianco a fianco */
  vertical-align: top; /* Allinea verticalmente al centro */
}

#divLogo {
  width: 80%;
}

#divLogo img {
  width: 150px; /* Imposta una larghezza per il logo */
}

#divTimer {
  width: 100px;
  text-align: center; /* Allinea il testo a destra */
  font-size: 1.2rem;
  font-weight: bold;
}

#logoImg {
  width: 150px;
  margin-top: 3rem;
  margin-left: 0rem;
  margin-bottom: 7rem;
}

#container {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

#title {
  text-align: center;
  height: 8em;
}

#content {
  margin-top: 3rem;
}

#divMessage {
  padding-top: 1.5rem;
  height: 1.5rem;
  text-align: center;
}

#lastSection {
  margin-top: 3rem;
  text-align: center;
}
