h1{
    text-align: left;
    font-size:4rem;
    font-family: 'outfit', sans-serif;
    
}
.bold{
    font-weight:bold;
}

h2{    color: #D20094;
    font-weight: bold;
font-size:2rem;
font-family:'outfit',sans-serif;}

p {margin-top:1rem;
    line-height:1.3rem;
    font-family:'inter',sans-serif;
    font-size:1rem;
    
}
#list {
    margin-top:2.5rem;
    margin-left:1rem;
    line-height:1.3rem;
    
    
}
ul {list-style:disc;
line-height:2rem;
font-family:'inter',sans-serif;}


#littleSquare{display:inline-block;}
#checkBox{
    display:inline-block;
outline:2px solid #e7e7eb;
  width: 20px;
  height: 20px;

}
button {display:inline-block;
margin-left:10rem;}